menu "Display Impl: CYB 4.3inch"
    config IMPL_CYB_4_3_INCH_HRES
        int "Display Horizontal Resolution"
        default 800
        help
            Horizontal resolution of the CYB 4.3inch display.

    config IMPL_LCYB_4_3_INCH_VRES
        int "Display Vertical Resolution"
        default 480
        help
            Vertical resolution of the CYB 4.3inch display.
    menu "RGB LCD Config"
        config IMPL_LCYB_4_3_INCH_RGB_LCD_PIXEL_CLOCK_HZ
            int "RGB LCD Pixel Clock Hz (pclk)"
            default 9000000
        config IMPL_LCYB_4_3_INCH_RGB_LCD_DE_PIN
            int "RGB LCD DE Pin"
            default 40
        config IMPL_LCYB_4_3_INCH_RGB_LCD_VSYNC_PIN
            int "RGB LCD VSYNC Pin"
            default 41
        config IMPL_LCYB_4_3_INCH_RGB_LCD_HSYNC_PIN
            int "RGB LCD HSYNC Pin"
            default 39
        config IMPL_LCYB_4_3_INCH_RGB_LCD_PCLK_PIN
            int "RGB LCD PCLK Pin"
            default 42
        config IMPL_LCYB_4_3_INCH_RGB_LCD_R0_PIN
            int "RGB LCD R0 Pin"
            default 45
        config IMPL_LCYB_4_3_INCH_RGB_LCD_R1_PIN
            int "RGB LCD R1 Pin"
            default 48
        config IMPL_LCYB_4_3_INCH_RGB_LCD_R2_PIN
            int "RGB LCD R2 Pin"
            default 47
        config IMPL_LCYB_4_3_INCH_RGB_LCD_R3_PIN
            int "RGB LCD R3 Pin"
            default 21
        config IMPL_LCYB_4_3_INCH_RGB_LCD_R4_PIN
            int "RGB LCD R4 Pin"
            default 14
        config IMPL_LCYB_4_3_INCH_RGB_LCD_G0_PIN
            int "RGB LCD G0 Pin"
            default 5
        config IMPL_LCYB_4_3_INCH_RGB_LCD_G1_PIN
            int "RGB LCD G1 Pin"
            default 6
        config IMPL_LCYB_4_3_INCH_RGB_LCD_G2_PIN
            int "RGB LCD G2 Pin"
            default 7
        config IMPL_LCYB_4_3_INCH_RGB_LCD_G3_PIN
            int "RGB LCD G3 Pin"
            default 15
        config IMPL_LCYB_4_3_INCH_RGB_LCD_G4_PIN
            int "RGB LCD G4 Pin"
            default 16
        config IMPL_LCYB_4_3_INCH_RGB_LCD_G5_PIN
            int "RGB LCD G5 Pin"
            default 4
        config IMPL_LCYB_4_3_INCH_RGB_LCD_B0_PIN
            int "RGB LCD B0 Pin"
            default 8
        config IMPL_LCYB_4_3_INCH_RGB_LCD_B1_PIN
            int "RGB LCD B1 Pin"
            default 3
        config IMPL_LCYB_4_3_INCH_RGB_LCD_B2_PIN
            int "RGB LCD B2 Pin"
            default 46
        config IMPL_LCYB_4_3_INCH_RGB_LCD_B3_PIN
            int "RGB LCD B3 Pin"
            default 9
        config IMPL_LCYB_4_3_INCH_RGB_LCD_B4_PIN
            int "RGB LCD B4 Pin"
            default 1

 #   40 /* DE */,
 #     41 /* VSYNC */,
 #     39 /* HSYNC */,
 #     42 /* PCLK */,
 #     45 /* R0 */,
 #     48 /* R1 */,
 #     47 /* R2 */,
 #     21 /* R3 */,
 #     14 /* R4 */,
 #     5 /* G0 */,
 #     6 /* G1 */,
 #     7 /* G2 */,
 #     15 /* G3 */,
 #     16 /* G4 */,
 #     4 /* G5 */,
 #     8 /* B0 */,
 #     3 /* B1 */,
 #     46 /* B2 */,
 #     9 /* B3 */,
 #     1 /* B4 */
    endmenu
#     config IMPL_LCYB_4_3_INCH_SPI_HOST
#         int "SPI Host"
#         default 1
#         help
#             SPI host to use for display communication.

#     config IMPL_LCYB_4_3_INCH_QSPI_SCK_PIN
#         int "SPI Clock Pin"
#         default 17
#     config IMPL_LCYB_4_3_INCH_QSPI_RST_PIN
#         int "Display QSPI Reset Pin"
#         default 16
#     config IMPL_LCYB_4_3_INCH_QSPI_CS_PIN
#         int "Display SPI CS Pin"
#         default 12
#     config IMPL_LCYB_4_3_INCH_QSPI_D0_PIN
#         int "Display QSPI D0 Pin"
#         default 13
#     config IMPL_LCYB_4_3_INCH_QSPI_D1_PIN
#         int "Display QSPI D1 Pin"
#         default 18
#     config IMPL_LCYB_4_3_INCH_QSPI_D2_PIN
#         int "Display QSPI D2 Pin"
#         default 21
#     config IMPL_LCYB_4_3_INCH_QSPI_D3_PIN
#         int "Display QSPI D3 Pin"
#         default 14
    config IMPL_LCYB_4_3_INCH_BACKLIGHT_PIN
        int "Display Backlight Pin"
        default 2

    config IMPL_TOUCHPANEL_RESET_PIN
        int "Touchscreen Interrupt Pin"
        default 38

endmenu

# # config IMPL_I2C_SDA_PIN
# #     int
# #     default 15
# #     # depends on CONFIG_TL_DISPLAY_COMP_LG_TDISPLAY_S3_LONG
# #     # select IOM_I2C_SDA_PIN=15
# #     # set IOM_I2C_SCL_PIN=10
# # config IMPL_I2C_SCL_PIN
# #     int
# #     default 10
# #     # depends on CONFIG_TL_DISPLAY_COMP_LG_TDISPLAY_S3_LONG

config IOM_I2C_SDA_PIN
    int
    default 19
    depends on IMPL_LCYB_4_3_INCH

config IOM_I2C_SCL_PIN
    int
    default 20
    depends on IMPL_LCYB_4_3_INCH


#define TOUCH_GT911
#define TOUCH_GT911_SCL 20
#define TOUCH_GT911_SDA 19
#define TOUCH_GT911_INT -1
#define TOUCH_GT911_RST 38
#define TOUCH_GT911_ROTATION ROTATION_RIGHT  //ROTATION_NORMAL
#define TOUCH_MAP_X1 320
#define TOUCH_MAP_X2 0
#define TOUCH_MAP_Y1 240
#define TOUCH_MAP_Y2 0