menu "Display Impl: LilyGo T-Display S3 Long"
    config IMPL_M5STACK_DIAL_HRES
        int "Display Horizontal Resolution"
        default 240
        help
            Horizontal resolution of the Waveshare 3.5inch RPi display.

    config IMPL_LILYGO_TDISPLAY_S3_LONG_VRES
        int "Display Vertical Resolution"
        default 240
        help
            Vertical resolution of the Waveshare 3.5inch RPi display.
endmenu
