menu "Display Impl: LilyGo T-Display S3 Long"
    config IMPL_M5STACK_DIAL_HRES
        int "Display Horizontal Resolution"
        default 240
        help
            Horizontal resolution of the Waveshare 3.5inch RPi display.

    config IMPL_LILYGO_TDISPLAY_S3_LONG_VRES
        int "Display Vertical Resolution"
        default 240
        help
            Vertical resolution of the Waveshare 3.5inch RPi display.

#     config IMPL_LILYGO_TDISPLAY_S3_LONG_SPI_HOST
#         int "SPI Host"
#         default 1
#         help
#             SPI host to use for display communication.

#     config IMPL_LILYGO_TDISPLAY_S3_LONG_QSPI_SCK_PIN
#         int "SPI Clock Pin"
#         default 17
#     config IMPL_LILYGO_TDISPLAY_S3_LONG_QSPI_RST_PIN
#         int "Display QSPI Reset Pin"
#         default 16
#     config IMPL_LILYGO_TDISPLAY_S3_LONG_QSPI_CS_PIN
#         int "Display SPI CS Pin"
#         default 12
#     config IMPL_LILYGO_TDISPLAY_S3_LONG_QSPI_D0_PIN
#         int "Display QSPI D0 Pin"
#         default 13
#     config IMPL_LILYGO_TDISPLAY_S3_LONG_QSPI_D1_PIN
#         int "Display QSPI D1 Pin"
#         default 18
#     config IMPL_LILYGO_TDISPLAY_S3_LONG_QSPI_D2_PIN
#         int "Display QSPI D2 Pin"
#         default 21
#     config IMPL_LILYGO_TDISPLAY_S3_LONG_QSPI_D3_PIN
#         int "Display QSPI D3 Pin"
#         default 14
#     config IMPL_LILYGO_TDISPLAY_S3_LONG_BACKLIGHT_PIN
#         int "Display Backlight Pin"
#         default 1

#     config IMPL_TOUCHPANEL_SPI_CS_PIN
#         int "Touchscreen SPI CS Pin"
#         default 17
#     config IMPL_TOUCHPANEL_INT_PIN
#         int "Touchscreen Interrupt Pin"
#         default 16

endmenu

# # config IMPL_I2C_SDA_PIN
# #     int
# #     default 15
# #     # depends on CONFIG_TL_DISPLAY_COMP_LG_TDISPLAY_S3_LONG
# #     # select IOM_I2C_SDA_PIN=15
# #     # set IOM_I2C_SCL_PIN=10
# # config IMPL_I2C_SCL_PIN
# #     int
# #     default 10
# #     # depends on CONFIG_TL_DISPLAY_COMP_LG_TDISPLAY_S3_LONG

# config IOM_I2C_SDA_PIN
#     int
#     default 15
#     depends on IMPL_LILYGO_TDISPLAY_S3_LONG

# config IOM_I2C_SCL_PIN
#     int
#     default 10
#     depends on IMPL_LILYGO_TDISPLAY_S3_LONG