menu "Display Impl: LilyGo T-Display S3 Long"
    config IMPL_LILYGO_TDISPLAY_S3_LONG_HRES
        int "Display Horizontal Resolution"
        default 640
        help
            Horizontal resolution of the Waveshare 3.5inch RPi display.

    config IMPL_LILYGO_TDISPLAY_S3_LONG_VRES
        int "Display Vertical Resolution"
        default 180
        help
            Vertical resolution of the Waveshare 3.5inch RPi display.

    config IMPL_LILYGO_TDISPLAY_S3_LONG_SPI_HOST
        int "SPI Host"
        default 1
        help
            SPI host to use for display communication.

endmenu


config IOM_I2C_SDA_PIN
    int
    default 15
    depends on IMPL_LILYGO_TDISPLAY_S3_LONG

config IOM_I2C_SCL_PIN
    int
    default 10
    depends on IMPL_LILYGO_TDISPLAY_S3_LONG