CONFIG_LOG_MASTER_LEVEL=n
CONFIG_LOG_DYNAMIC_LEVEL_CONTROL=y
CONFIG_LOG_DEFAULT_LEVEL_WARN=y
# CONFIG_LOG_DEFAULT_LEVEL_DEBUG is not set
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y

CONFIG_FLOG_LEVEL_INFO=y
# CONFIG_FLOG_LEVEL_DEBUG=y
CONFIG_FLOG_LEVEL=3

# LVGL
CONFIG_LV_USE_SNAPSHOT=y
CONFIG_LV_USE_LODEPNG=y
#CONFIG_LV_USE_LOG=y
CONFIG_LV_LOG_PRINTF=y
CONFIG_LV_LOG_LEVEL_WARN=y
#CONFIG_LV_LOG_LEVEL_DEBUG=y
# CONFIG_LV_USE_PROFILER_BUILTIN=y
#CONFIG_LV_USE_LABEL=y
CONFIG_LV_USE_OBSERVER=y
#CONFIG_LV_USE_SYSMON=y
#CONFIG_LV_USE_PERF_MONITOR=y
#CONFIG_LV_USE_MEM_MONITOR=y

CONFIG_HEAP_TASK_TRACKING=y
#CONFIG_HEAP_POISONING_FULL=y

CONFIG_HEAP_TRACING=y
CONFIG_HEAP_POISONING_LIGHT=y
# CONFIG_HEAP_TASK_TRACKING is not set
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=y
#CONFIG_HEAP_POISONING_LIGHT=y
#CONFIG_HEAP_TRACING_STANDALONE=y
#CONFIG_HEAP_TRACE_HASH_MAP=y
#CONFIG_HEAP_TRACE_HASH_MAP_IN_EXT_RAM=y
#CONFIG_HEAP_USE_HOOKS=y
#CONFIG_HEAP_TASK_TRACKING=y
#CONFIG_HEAP_TRACK_DELETED_TASKS=y
#CONFIG_HEAP_ABORT_WHEN_ALLOCATION_FAILS=y
#CONFIG_HEAP_PLACE_FUNCTION_INTO_FLASH=y

CONFIG_ESP_TASK_WDT_PANIC=y
#CONFIG_ESP_SYSTEM_PANIC=ESP_SYSTEM_PANIC_REBOOT
#CONFIG_ESP_COREDUMP_ENABLE=y
#CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y
#CONFIG_ESP_COREDUMP_DATA_FORMAT_ELF=y
#CONFIG_ESP_COREDUMP_FLASH_LOGS=y 

