#CONFIG_TL_TC_CLK_PIN=26
#CONFIG_TL_TC_CS_PIN=25
#CONFIG_TL_TC_MISO_PIN=27


CONFIG_LOG_MASTER_LEVEL=n
CONFIG_LOG_DYNAMIC_LEVEL_CONTROL=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
# CONFIG_LOG_DEFAULT_LEVEL_DEBUG is not set
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y

CONFIG_FLOG_LEVEL_INFO=y
# CONFIG_FLOG_LEVEL_DEBUG=y
CONFIG_FLOG_LEVEL=3

# LVGL
#CONFIG_LV_USE_LOG=y
#CONFIG_LV_LOG_PRINTF=y
#CONFIG_LV_LOG_LEVEL_WARN=y
# CONFIG_LV_USE_PROFILER_BUILTIN=y
CONFIG_LV_USE_LABEL=y
#CONFIG_LV_USE_OBSERVER=y
#CONFIG_LV_USE_SYSMON=y
#CONFIG_LV_USE_PERF_MONITOR=y
#CONFIG_LV_USE_MEM_MONITOR=y


CONFIG_HEAP_TRACING=y
CONFIG_HEAP_POISONING_LIGHT=y
# CONFIG_HEAP_TASK_TRACKING is not set
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=y