# CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE is not set

CONFIG_APP_COMPILE_TIME_DATE=y

CONFIG_COMPILER_WARN_WRITE_STRINGS=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_ENABLE=y
CONFIG_CU_GCC_LTO_ENABLE=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y